$button-color: #fff;
$button-background: $color-1;

/* Button Styling */
.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 1.5em;

    &-center {
        justify-content: center;

        .button + .button {
            margin: 0 .5em;
        }
    }

    &-right {
        justify-content: flex-end;
    }
}

.button {
    appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: $button-color;
    border: none;
    outline: none;
}

.button {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 1em 2.5em;
    background: $button-background;
    color: $button-color;
    border-radius: 0.5em;
    line-height: 1.25;
    font-weight: 500;
    transition: 100ms ease;
    text-decoration: none;
    user-select: none;
    cursor: pointer;

    + .button {
        margin: 0 0 0 1em;
    }

    &:hover,
    &:focus {
        background: lighten($button-background, 10%);
        box-shadow: $box-shadow-3;
        transform: translate(0, -0.25em);
    }

    &:active {
        background: darken($button-background, 10%);
        box-shadow: $box-shadow-2;
        transform: translateY(1px);
    }

    i + span {
        margin-left: 0.5em;
    }

    span + i {
        margin-left: 1.5em;
    }

    // Unique styles
    &-reverse {
        background: #fff;
        color: $button-background;
    }
    &-ghost {
        background: transparent;
        color: $button-background;
        border: 2px solid $button-background;
    }
    &-secondary {
        color: inherit;
        background: rgba(0,0,0,0.25);
    }
    &-text {
        color: $color-1;
        background: transparent;
    }

    @media (max-width: 768px) {
        &,
        + &{
            margin: 0 1em 1em 0;
        }
    }
}
