.features {

    .container {
        background: linear-gradient(to bottom right, $color-grey-1, #fff);
        box-shadow: $box-shadow-3;
    }

    .group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4em;
        max-width: 920px;
        margin: 0 auto;
        padding-bottom: 4em;
    }

    .item {
        //text-decoration: none;
        //display: block;
        //color: inherit;
        display: flex;
        align-items: flex-start;

        .icon {
            @include fluid('font-size', 1.25rem, 1.625rem);
            margin-right: 1em;
            min-width: 2rem;
            text-align: center;
            color: $color-1;
        }

        .details {

        }

        .title {
            font-weight: 500;
            margin-bottom: 1rem;
        }

        .description {
            max-width: 35ch;
        }
    }
}
