.features {
    margin-top: 6em;

    .animation-active & {

        &.active {

            .item {
                transform: translate(0, 3em);
                opacity: 0;
                animation: features 600ms ease-in-out forwards;

                @for $i from 1 through 9 {
                    &:nth-of-type(#{$i}) {
                        animation-delay: $i * 0.25s + 0.5s;
                    }
                }

                @keyframes features {
                    0% {
                        transform: translate(0, 3em);
                        opacity: 0;
                    }
                    100% {
                        transform: translate(0, 0);
                        opacity: 1;
                    }
                }
            }
        }

        .item {
            transform: translate(0, 5em);
            opacity: 0;
        }
    }

    .container {

    }

    .group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5em;
        margin: 0 auto;
        padding-bottom: 4em;
    }

    .item {
        //text-decoration: none;
        //display: block;
        //color: inherit;
        display: flex;
        align-items: flex-start;

        .icon {
            @include fluid('font-size', 1.25rem, 1.625rem);
            margin-right: 1em;
            min-width: 2rem;
            text-align: center;
            color: $color-1;
        }

        .details {

        }

        .title {
            font-weight: 500;
            margin-bottom: 1rem;
        }

        .description {
            max-width: 35ch;
        }
    }
}
