.impact {
    position: relative;
    min-height: 100vh;
    padding: 2vw 0;
    background: $color-2;
    color: #fff;
    margin-bottom: 0;
    z-index: 2;
    overflow: hidden;

    .animation-active & {

        &.active {

            &::before {
                filter: grayscale(0.25);
                transform: scale(1);
            }

            .stats {
                transform: translate(0, 1.5em);
                opacity: 0;
                animation: stats 300ms ease-in-out forwards;

                @for $i from 1 through 5 {
                    &:nth-of-type(#{$i}) {
                        animation-delay: $i * 0.25s + 0.5s;
                    }
                }

                @keyframes stats {
                    0% {
                        transform: translate(0, 1.5em);
                        opacity: 0;
                    }
                    100% {
                        transform: translate(0, 0);
                        opacity: 1;
                    }
                }
            }
        }

        &::before {
            filter: grayscale(1);
            transform: scale(1.5);
            transition: 3s ease-in-out;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../images/impact-bg.jpg');
        background-size: cover;
        background-attachment: fixed;
        opacity: 0.75;
        filter: grayscale(0.5);
        transform: scale(1.5);
        z-index: -1;
    }

    .container {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        text-align: center;
    }

    .group {
        width: 100%;
        margin-top: 6em;
    }

    h2 {
        color: #fff;
    }

    .stats {
        flex: 1;

        p {
            margin: 0;
        }

        .value {
            color: $color-1;
            font-weight: 400;
            line-height: 1;
            font-size: 7rem;

            .unit {
                font-size: 2rem;
                display: block;
                margin: 0.25em 0 0.25em;
            }
        }

        .label {
            color: #fff;
            font-weight: 500;
        }
    }
}
