.story {
    position: relative;
    background: linear-gradient(to bottom, $color-grey-1, transparent);
    margin-bottom: 0;
    z-index: 1;

    &:nth-of-type(odd) {
        .group {
            flex-flow: row-reverse;
        }
    }

    .container {
        display: flex;
        justify-content: center;
        flex-flow: column;
        padding: 0;
        max-width: 100%;

    }

    .group {
        min-height: 100vh;

        @media (max-width: 1400px) {
            min-height: auto;
        }
    }

    .animation-active & {

        &.active {

            .text {
                transform: translate(0, 0);
                opacity: 1;
            }

            .image,
            .video {
                transform: translate(0, 0);
                opacity: 1;
            }

            .buttons {
                transform: translate(0, 0);
            }
        }

        .text {
            transition: 600ms ease-in-out;
            transform: translate(0, 3em);
            opacity: 0;
        }

        .image,
        .video {
            transition: 600ms ease-in-out;
            transition-delay: 200ms;
            transform: translate(0, 3em);
            opacity: 0;
        }

        .buttons {
            transition: 600ms ease-in-out;
            transform: translate(-2em, 0);
        }
    }

    .text,
    .image {
        width: 50%;
        padding: 8em;

        @media (max-width: 1400px) {
            padding: 5em;
        }
    }

    .text {
        width: 50%;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .image {
        background: $color-3;
        padding: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    h2 {
        margin: 0.25em 0;
    }

    .description {
        max-width: 68ch;
        margin: 0 auto;

        > * {
            font-size: 1.5rem;

            @media (max-width: 1400px) {
                font-size: 1.125rem;
            }
        }
    }
}
