.tagline {
    background: $color-1;
    padding: 6em 0;
    margin: 0 auto;

    @media (max-width: 1400px) {
        padding: 1em 0;
    }

    .container {
        max-width: 90%;
        text-align: center;
    }

    p {
        @extend .fs-1;
        color: #fff;
        line-height: 1.25;

        @media (max-width: 1400px) {
            font-size: 4rem;
        }
    }
}
