.tagline {
    background: $color-1;
    padding: 1em 0;
    margin: 0 auto;

    @media (max-width: 1400px) {
        padding: 1em 0;
    }

    .container {
        max-width: 80%;
        text-align: center;
        overflow: hidden;
    }

    .animation-active & {

        p {
            transition: 500ms ease;
            opacity: 0;
        }

        p:first-of-type {
            transform: translate(50%, 0);
        }
        p:last-of-type {
            transform: translate(-50%, 0);
            transition-delay: 0.5s;
        }

        &.active {

            p {
                opacity: 1;
            }

            p:first-of-type {
                transform: translate(0, 0);
            }
            p:last-of-type {
                transform: translate(0, 0);
            }
        }
    }

    p {
        @extend .fs-1;
        color: #fff;
        line-height: 1.25;
        margin-bottom: 0;

        em {
            color: $color-3;
            opacity: 0.85;
        }

        @media (max-width: 1400px) {
            font-size: 4rem;
        }
    }
}
